<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles del Auto</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

        <style>
            body{
                padding: 20px;
            }
        </style>
</head>
<body>
    <h1>Detalles del Auto</h1>
    <p>Nombre: <span th:text="${auto.nombre}"></span></p>
    <p>Modelo: <span th:text="${auto.modelo}"></span></p>
    <p>Color: <span th:text="${auto.color}"></span></p>
    <p>Placa: <span th:text="${auto.placa}"></span></p>
    <p>Marca: <span th:text="${auto.marca}"></span></p>
    <p>Estado: <span th:text="${auto.estado}"></span></p>
    <p>Fecha de Ingreso: <span th:text="${auto.fechaIngreso}"></span></p>
    <a href="/autos">Volver</a>
</body>
</html>
