<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Ticket</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

        <style>
            body{
                padding: 20px;
            }
        </style>
</head>
<body>
    <h1>Detalles del Ticket</h1>
    <p><strong>ID:</strong> <span th:text="${tiketera.id}"></span></p>
    <p><strong>Auto:</strong> <span th:text="${tiketera.auto.nombre}"></span></p>
    <p><strong>Ticket:</strong> <span th:text="${tiketera.ticket}"></span></p>
    <p><strong>Fecha de Emisión:</strong> <span th:text="${tiketera.fechaEmision}"></span></p>
    <p><strong>Estado del Ticket:</strong> <span th:text="${tiketera.estadoTicket}"></span></p>
    <a th:href="@{/tiketera}">Volver</a>
</body>
</html>
