<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Ticketera</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

        <style>
            body{
                padding: 20px;
            }
        </style>
</head>
<body>
    <h1>Lista de Tiquetes</h1>
    <a th:href="@{/tiketeras/create}">Nuevo Tiket</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Auto</th>
                <th>Ticket</th>
                <th>Fecha de Emisión</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tiketera : ${tiketeras}">
                <td th:text="${tiketera.id}"></td>
                <td th:text="${tiketera.auto.nombre}"></td>
                <td th:text="${tiketera.ticket}"></td>
                <td th:text="${tiketera.fechaEmision}"></td>
                <td th:text="${tiketera.estadoTicket}"></td>
                <td>
                    <a th:href="@{/tiketera/{id}(id=${tiketera.id})}">Ver</a>
                    <a th:href="@{/tiketera/{id}/edit(id=${tiketera.id})}">Editar</a>
                    <a th:href="@{/tiketera/{id}/delete(id=${tiketera.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
