<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Producto</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

        <style>
            body{
                padding: 20px;
            }
        </style>
</head>
<body>
    <h1>Detalles del Producto</h1>
    <p><strong>ID:</strong> <span th:text="${inventario.id}"></span></p>
    <p><strong>Producto:</strong> <span th:text="${inventario.producto}"></span></p>
    <p><strong>Cantidad:</strong> <span th:text="${inventario.cantidad}"></span></p>
    <p><strong>Precio Unitario:</strong> <span th:text="${inventario.precioUnitario}"></span></p>
    <p><strong>Proveedor:</strong> <span th:text="${inventario.proveedor}"></span></p>
    <p><strong>Fecha de Entrada:</strong> <span th:text="${inventario.fechaEntrada}"></span></p>
    <a th:href="@{/inventario}">Volver a la lista</a>
</body>
</html>
